<!-- change logo -->

<script type="text/html" id="tmpl-logo">

	<div class="row-fluid">

		<div class="span8 well">
			<h2 data-i18n="dynreg.new-client">Upload a Logo</h2>
			<p data-i18n="dynreg.new-client-help">Logo image should be 128px*128px and in PNG format.</p>
			<p>
				<input type="file" accept="image/png">
			</p>
			<p>
				<button class="btn btn-success" id="newreg"><span data-i18n="dynreg.new-client-button">Change Logo</span></button>
			</p>
		</div>
		<div class="span4 text-center">
			<img src="resources/images/openid_connect_large.png" width="128px" height="128px">
		</div>
	</div>
</script>

